# Python
__pycache__/
*.py[cod]
*.pyd

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env
.env.*

# Archivos generados
image-to-vector/imagen-transformada.jpg

# Configuración local de editores
.vscode/
.idea/
